<h1>All Listings</h1>
 
<%= link_to 'New listing', new_listing_path %>

<table>
  <tr>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Price</th>
  </tr>
 
  <% @listing.each do |listing| %>
    <tr>
      <td><%= listing.start_time %></td>
      <td><%= listing.end_time %></td>
      <td><%= listing.price %></td>
      <td><%= link_to 'Show', listing_path(listing) %></td>
      <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
      <td><%= link_to 'Destroy', listing_path(listing),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>