<div id="content">
	<div class="row">
		<div class="col-md-offset-1 col-md-10">
			<h1>All Listings</h1>
			 <% if current_user.is_seller %>
				<h3><%= link_to 'New listing', new_listing_path %></h3><br/>
			<% end %>
		</div>
	</div>
	<div id="listing" class="row">
		<div class="col-md-offset-1 col-md-10">
			<table class="sort_table">
			  <tr>
				<th><%=sortable "address"%></th>
					<th><%=sortable "start_time", "Start Time"%></th>
					<th><%=sortable "end_time", "End Time"%></th>
					<th><%=sortable "price"%></th>
					<% if is_buyer(current_user) %>
					<th><%=sortable "status"%></th>
					<% end %>
			  </tr>
			 
			  <% @listing.each do |listing| %>
					<% if user_can_view(current_user, listing) %> 
					  <tr>
						<td><%= listing.address %></td>
							<td><%= listing.start_time.strftime("%B %e %Y %l:00") %></td>
							<td><%= listing.end_time.strftime("%B %e %Y %l:00") %></td>
							<td><%= sprintf("$%.2f", listing.price) %></td>
							<% if is_buyer(current_user) %>
							<td style="text-align: center;"><%= listing.status %></td>
							<% end %>
							<td><%= link_to 'Details', listing_path(listing) %></td>
							<% if owns_listing(current_user, listing) %>
							  <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
							  <td><%= link_to 'Delete', listing_path(listing),
								  method: :delete,
								  data: { confirm: 'Are you sure?' } %></td>
							<% end %>
					  </tr>
					<% end %>
			  <% end %>
			</table>
		</div>
	</div>
</div>
