<div id="content">
  <h1>Profile</h1>
  <br/>
	<div id="profile">
	  <h2 class="green"><%= @name %></h2>
		<table>
			<tr>
				<td><h4>Name:</h4></td>
				<td><%= current_user.first_name + " " + current_user.last_name %></td>
			</tr>
			<tr>
				<td><h4>Email:</h4></td>
				<td><%= current_user.email %></td>
			</tr>
		</table>
		<table>
		  <tr>
		  	<th>Address</th>
		    <th>Start Time</th>
		    <th>End Time</th>
		    <th>Price</th>
		  </tr>
		 
		  <% @listings.each do |listing| %>
		    <tr>
		    	<td><%= listing.address %></td>
		      <td><%= listing.start_time %></td>
		      <td><%= listing.end_time %></td>
		      <td><%= listing.price %></td>
		      <td><%= link_to 'Show', listing_path(listing) %></td>
		      <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
      		<td><%= link_to 'Destroy', listing_path(listing),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
		    </tr>
		  <% end %>
		</table>
	</div>
</div>