<div id="content">
  <h1>Profile</h1>
  <br/>
  <div id="profile">
    <table>
      <tr>
        <th>Name:</th>
        <td><%= @user.first_name + " " + @user.last_name %></td>
      </tr>
      <tr>
        <th>Email:</th>
        <td><%= @user.email %></th>
      </tr>
	  <tr>
        <th>Type:</th>
		<td><%= @type %></td>
	  </tr>
	  <tr>
		<th>Member Since:</th>
		<td><%= @user.created_at %></td>
	  </tr>
	  <tr>
		<th>Last Login:</th>
		<td><%= @user.last_sign_in_at %></td>
	  </tr>
    </table>
  </div>
  <br/>
    <% if !@listings.blank? %>
	<div id="listing">
      <table>
        <tr>
          <th>Address</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Price</th>
        </tr>
        <% @listings.each do |listing| %>
          <tr>
            <td><%= listing.address %></td>
            <td><%= listing.start_time.strftime("%B %e %Y %l:00") %></td>
            <td><%= listing.end_time.strftime("%B %e %Y %l:00") %></td>
            <td><%= sprintf("$%.2f", listing.price) %></td>
            <td><%= link_to 'Show', listing_path(listing) %></td>
            <% if current_user.id == @user.id %>
              <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
              <td><%= link_to 'Destroy', listing_path(listing),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
	  </div>
    <% end %>
</div>
