<div id="content">
	<h1>My Transactions</h1><br/>
	<% if is_buyer(current_user) %>
	<br/>
	<div id="listing">
		<h3>Bought</h3>
		<table>
		  <tr>
			<th>Name</th>
			<th>Address</th>
			<th>Price</th>
		  </tr>
		  <% @buyer_transactions.each do |transaction| %>
			  <tr>
				<td><%= transaction.seller.first_name %> <%= transaction.seller.last_name %></td>
				<td><%= transaction.listing.address %></td>
				<td><%= transaction.listing.price %></td>
			  </tr>
		  <% end %>
		</table>
	</div>
	<br/>
	<% end %>
	<% if is_seller(current_user) %>
	<br/>
	<div id="listing">
		<h3>Sold</h3>
		<table>
		  <tr>
			<th>Name</th>
			<th>Address</th>
			<th>Price</th>
		  </tr>
		  <% @seller_transactions.each do |transaction| %>
			  <tr>
				<td><%= transaction.seller.first_name %> <%= transaction.seller.last_name %></td>
				<td><%= transaction.listing.address %></td>
				<td><%= transaction.listing.price %></td>
			  </tr>
		  <% end %>
		</table>
	</div>
	<br/>
	<% end %>
</div>