<!DOCTYPE html>
<html>
<head>
  <title>Rent-A-Driveway</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
<!--  <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css' %>-->
<!--  <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css' %> -->
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js' %>

  <%= csrf_meta_tags %>
</head>
<body>
<div id="content">
  <div id="header">
    <div class="row">
      <div class="col-md-9">
        <h1><span class="green bigl">R</span>ent-A-<span class="green bigl">D</span>riveway</h1>
        <span class="slogan">Rent parking space near you!</span>
      </div>
      <div class="col-md-3">
		  <div class="topong">
		    <div class="pad"> <%= image_tag("account.gif", alt:"Account") %>
		      <% if user_signed_in? %>
		       <h4><%= link_to('MY ACCOUNT', user_path(current_user)) %></h4>
		      <% else %>
		        <h4><%= link_to('LOGIN', new_user_session_path) %></h4>
		      <% end %>
		      <% if user_signed_in? %>
		        <span class="txt"><%= current_user.first_name %> <%= current_user.last_name %></span>
		      <% end %>
		    </div>
        </div>
      </div>
    </div>
  <div id="menu">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/"><span>HOME</span></a></li>
		    <li><%= link_to('<span>ABOUT US</span>'.html_safe, '/aboutus') %></li>
		    <% if user_signed_in? %>
          <% if is_admin(current_user) %>
            <li><%= link_to('<span>LISTINGS</span>'.html_safe, '/listings') %></li>
            <li><%= link_to('<span>USERS</span>'.html_safe, '/user') %></li>
          <% else %>
			      <% if is_seller(current_user) %>
				      <li><%= link_to('<span>SELL</span>'.html_safe, '/listings/new') %></li>
			      <% end %>
			      <% if is_buyer(current_user) %>
				      <li><%= link_to('<span>BUY</span>'.html_safe, '/listings') %></li>
			      <% end %>
			      <li><%= link_to('<span>TRANSACTIONS</span>'.html_safe, '/transactions') %></li>
          <% end %>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
			    <li><%= link_to('<span>LOGOUT</span>'.html_safe, destroy_user_session_path, :method => :delete) %></li>
		    <% else %>
			    <li><%= link_to('<span>LOGIN</span>'.html_safe, new_user_session_path) %></li>
		    <% end %>
      </ul>
    </div>
  </div>
  <body>
    <%= yield %>
  </body>
  <div id="footer row">
    <div class="col-md-offset-1 col-md-2">
      <p><a href="/">Home</a> &middot; <a href="../welcome/aboutus">About Us</a></p>
    </div>
    <div class="col-md-offset-5 col-md-4">
      <p class="right">Copyright &copy; 2015 Chris, Minh Quan, Yuuma, John</p>
    </div>
  </div>
</div>
</body>
</html>
